table {
    border-collapse: collapse;
    width: 95%;
    margin: 20px auto;
    font-size: 14px;
}

th,
td {
    border: 1px solid #333;
    padding: 6px 10px;
    text-align: center;
}

th {
    background-color: #eee;
}

.bg-sales {
    background-color: #dceeff;
}

.bg-report {
    background-color: #ffe4e1;
}

.bg-kpi {
    background-color: #fff8dc;
}

h2 {
    text-align: center;
    color: #ac1754;
}
